.form-horizontal .control-label{
  /* text-align:right; */
  text-align:left;
  
}

th {
	text-align: left
}

#footer {
    position: absolute;
    bottom: 1.5cm;
    width: 100%;
    
    padding-right:33%;
  
    
}